@import reset.sass

/* Layout

!gutter = 3em

html
  :background-color #eee

body
  :padding = !gutter

#page
  :width 65em

#page-content
  :width 40em
  :float left

#navigation
  #navigation-content
    :float right
    :margin-top 3em
    :width 20em

#page-footer
  :clear both

/* Style

!hr_color = #ccc

hr
  :height 1px
  :border none
  :color = !hr_color
  :background-color = !hr_color
  :margin 1.5em 0

h1, p, ul, .code
  :margin-bottom 1em

blockquote
  :border-left solid 3px #ddd
  :padding-left 2ex
  :margin
    :bottom 2em
    :top 2em

.post
  :margin-bottom 2em
  p
    :text-align justify

h1, h2, h3, h4, h5, h6
  :font-family 'Helvetica Neue', Helvetica
  :font-weight bold
  a
    :color #111
    :text-decoration none

a
  :color #383

#header
  :margin-bottom 3em
  h1
    :letter-spacing -0.05ex
    :font-size 180%
    :font-weight normal
    a
      :text-decoration none

h3
  :font-size 125%
  :margin-bottom 1em

h4
  :margin-bottom 0.5em
  :font-size 110%
  :text-transform uppercase
  :font-weight normal
  a
    :text-decoration none

.code
  :padding 1em
  :background #cfd6e0
  :border solid 1px #9f9f9f
  code
    :background-color transparent
  pre
    :white-space pre-wrap

body
  :font-family 'Book Antiqua', 'Georgia', 'Verdana', Helvetica, sans-serif
  :line-height 150%
  :font-size 11pt
  :color #222

code
  :background-color #fec
  :font 8pt 'Monaco', 'Courier New', monospace

#navigation-content
  #links
    dd
      :margin-bottom 0.5em
  #latest-posts
    li
      :margin-bottom 0.5em
  .count
    :font 8pt 'Verdana'
