@import reset.sass

/* Font Stacks

!georgia_based = Constantia, 'Lucida Bright', Lucidabright, 'Lucida Serif', Lucida, 'DejaVu Serif', 'Bitstream Vera Serif', 'Liberation Serif', Georgia, serif
!verdana_based = Corbel, 'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans', 'Bitstream Vera Sans', 'Liberation Sans', Verdana, 'Verdana Ref', sans-serif

!body_stack = !georgia_based
!code_stack = Monaco, Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco, 'Courier New', Courier, monospace
!title_stack = Rockwell, 'Segoe UI', Candara, 'Bitstream Vera Sans', 'DejaVu Sans', 'Bitsream Vera Sans', 'Trebuchet MS', Verdana, 'Verdana Ref', sans-serif
!header_stack = 'Helvetica Neue', Helvetica


/* Layout

!gutter = 3em

!content_width = 40em
!navigation_width = 20em
!gutter_width = 5em
!hr_color = #d4d2ce

html
  :background-color #e3e1db

body
  :padding = !gutter
  :text-align center

#document-container
  :margin 0 auto
  :width = !content_width + !navigation_width + !gutter_width
  :text-align left

#header
  :margin-left = !navigation_width + !gutter_width
  :line-height 250%

#page-content
  :width = !content_width
  :float right

#navigation
  :text-align right
  #navigation-content
    :float left
    :margin-top 3em
    :width = !navigation_width

#page-footer
  :clear both

/* Style

hr
  :height 1px
  :border none
  :color = !hr_color
  :background-color = !hr_color
  :margin 1.5em 0

h1, p, ul, .code
  :margin-bottom 1em

blockquote
  :border-left = "solid" 3px !hr_color
  :padding-left 2ex
  :margin
    :bottom 2em
    :top 2em

.post
  :border-bottom = "solid" 1px !hr_color
  :padding-bottom 1em
  :margin-bottom 2em
  p
    :text-align justify

  &.draft
    :opacity 0.8

h1, h2, h3, h4, h5, h6
  :font-family = !header_stack
  :font-weight bold
  a
    :color #231f20
    :text-decoration none

a
  :color #383

#header
  :margin-bottom 3em
  h1
    :letter-spacing -0.05ex
    :font
      :family = !title_stack
      :size 180%
      :weight normal
    a
      :text-decoration none

h3
  :font-size 125%
  :margin-bottom 1em

h4
  :margin-bottom 0.5em
  :font-size 110%
  :text-transform uppercase
  :font-weight normal
  a
    :text-decoration none

.code
  :padding 1em
  :margin 1.5em 0
  :background #cfd6e0
  :border solid 1px #9f9f9f
  code
    :background-color transparent
  pre
    :white-space pre-wrap

body
  :font-family = !body_stack
  :line-height 150%
  :font-size 11pt
  :color #222

code
  :background-color #fec
  :font = 7.8pt !code_stack

#navigation-content
  #links
    dd
      :margin-bottom 0.5em
  #latest-posts
    li
      :margin-bottom 0.5em
  .count
    :font = 8pt !verdana_based
